<template name="Lists_show">
  <div class="page lists-show">
    <nav class="js-title-nav">
      {{#momentum plugin="fade"}}
        {{#if editing}}
          <form class="js-edit-form list-edit-form">
            <input type="text" name="name" value="{{name}}" placeholder="{{list.name}}">
            <div class="nav-group right">
              <a href="#" class="js-sync-contract nav-item">
                <span
                  class="icon-sync js-sync"
                  title={{_ 'lists.show.sync'}}>
                </span>
              </a>
              <a href="#" class="js-cancel nav-item">
                <span
                  class="icon-close js-cancel"
                  title={{_ 'lists.show.cancel'}}>
                </span>
              </a>
            </div>
          </form>
          <form class="js-contract-edit-form contract-new input-symbols">
            <input
              type="text" name="contract" id="contract" value="{{contract}}"
              placeholder={{_ 'lists.show.addContract'}}
            />
            <span class="{{iconClass list.smartcontract}} js-contract-edit" style="top:16px;"></span>
            <input
              type="text" name="description" id="description" value="{{list.description}}"
              placeholder={{_ 'lists.show.caseDescription'}}
            />
            <span class="{{iconClass list.description}} js-contract-edit" style="top:47px;"></span>
            <input
              type="text" name="start" id="start" value="{{list.startPrice}}"
              placeholder={{_ 'lists.show.startPrice'}}
            />
            <span class="{{iconClass list.startPrice}} js-contract-edit" style="top:78px;"></span>
            <input
              type="text" name="end" id="end" value="{{list.endPrice}}"
              placeholder={{_ 'lists.show.endPrice'}}
            />
            <span class="{{iconClass list.endPrice}} js-contract-edit" style="top:109px;"></span>
            <input
              type="text" name="term" id="term" value="{{list.terms}}"
              placeholder={{_ 'lists.show.saleTerm'}}
            />
            <span class="{{iconClass list.terms}} js-contract-edit" style="top:140px;"></span>
            <input
              type="text" name="status" id="status"
              placeholder={{_ 'lists.show.status'}}
            />
            <span class="icon-cog js-contract-edit" style="top:171px;"></span>
          </form>
          
        {{else}}
          <div class="nav-group">
            <a href="#" class="js-menu nav-item">
              <span
                class="icon-list-unordered"
                title={{_ 'lists.show.showMenu'}}>
              </span>
            </a>
          </div>

          <h1 class="js-edit-list title-page">
            <span class="title-wrapper">{{list.name}}</span>
            <span class="count-list">{{list.incompleteCount}}</span>
          </h1>

          <div class="nav-group right">
            <div class="nav-item options-mobile">
              <select class="list-edit">
                <option disabled selected>
                  {{_ 'lists.show.selectAction'}}
                </option>
                {{#if list.userId}}
                  <option value="public">{{_ 'lists.show.makePublic'}}</option>
                {{else}}
                  <option value="private">{{_ 'lists.show.makePrivate'}}</option>
                {{/if}}
                <option value="delete">{{_ 'lists.show.delete'}}</option>
              </select>
              <span class="icon-cog"></span>
            </div>
            <div class="options-web">
              <a class="js-toggle-list-privacy nav-item">
                {{#if list.userId}}
                  <span
                    class="icon-lock"
                    title={{_ 'lists.show.makeListPublic'}}>
                  </span>
                {{else}}
                  <span
                    class="icon-unlock"
                    title={{_ 'lists.show.makeListPrivate'}}>
                  </span>
                {{/if}}
              </a>

              <a class="js-delete-list nav-item">
                <span
                  class="icon-trash"
                  title={{_ 'lists.show.deleteList'}}>
                </span>
              </a>

              <a class="js-edit-list nav-item">
                <span
                  class="icon-edit"
                  title={{_ 'lists.show.edit'}}>
                </span>
              </a>

            </div>
          </div>
        {{/if}}
      {{/momentum}}

      <form class="js-todo-new todo-new input-symbol" style="{{newTop 3}}">
        <input
          type="text"
          placeholder={{_ 'lists.show.typeToAdd'}}
        />
        <span class="icon-add js-todo-add"></span>
      </form>
    </nav>

    <div class="content-scrollable list-items" style="{{newTop 5}}">
      {{#if todosReady}}
        {{#if isEditing}}
          {{#each todo in todos}}
            {{#if (isEditingTodo todo)}}
              {{> Token_item (todoArgs todo)}}
            {{/if}}
          {{else}}
            <div class="wrapper-message">
              <div class="title-message">{{_ 'lists.show.noTasks'}}</div>
              <div class="subtitle-message">{{_ 'lists.show.addAbove'}}</div>
            </div>
          {{/each}}
        {{else}}
          {{#each todo in todos}}
            {{> Todos_item (todoArgs todo)}}
          {{else}}
            <div class="wrapper-message">
              <div class="title-message">{{_ 'lists.show.noTasks'}}</div>
              <div class="subtitle-message">{{_ 'lists.show.addAbove'}}</div>
            </div>
          {{/each}}
        {{/if}}
      {{else}}
        <div class="wrapper-message">
          <div class="title-message">{{_ 'lists.show.loading'}}</div>
        </div>
      {{/if}}
    </div>
  </div>
</template>
